/*body*/
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 550;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/*paragraph*/
p.space {
  line-height: 1.6;
}
/*header*/
.header {
  overflow: hidden;
  background-color: #1244a1;
  padding: 10px 10px;
}
/*footer*/
.footer {
  overflow: hidden;
  background-color: #1244a1;
  padding: 10px 10px;
  border-top: 2px solid #FFFFFF;
}
/*menu buttton*/
ol, ul {
    list-style: none;
}
li {
    padding: 18px 0 18px;
    display: inline-block;
    float: right;
}
a:hover, a:focus, a:active {
    color: #000000;
    text-decoration: none;
}
a {
    font-family:'Quicksand', sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 10px;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 550;
    line-height: 16px;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #FFFFFF;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
/* box transparent*/
.box{
  border-radius: 5px;
  padding: 30px;
  width: 750px;
  opacity: 0.95;
  background-color: #F5F5F5;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* table */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th {
    background-color: #DDDDDD;
}
